{% extends 'layout.twig' %}

{% block body %}
<div class="wrapper">
  <div class="container">
    <h1>Էջը չի գտնվել</h1>
    <h2>{{error.status}}</h2>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
{% endblock %}
