<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='{{HOME_URL}}stylesheets/login.css'/>
    <script type="text/javascript"> var HOME_URL = '{{ HOME_URL }}'; </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
