body{
    background-image: url('./images/yellow_tile_background.png');
}

.classroomInfo{
    vertical-align: text-top;
    float: right;
    text-align: right;
    background: rgba(230, 230, 230, 0.7);
    backdrop-filter: blur(7px);
    width: 32%;
    height: 620px;
    margin: .4% .3% .4% .7%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    box-shadow: #bbb 3px 3px 15px 0;
}

.classroomInfo img{
    vertical-align: text-top;
    display: inline-block;
    object-fit: cover;
    height: 310px;
    width: ~"calc(100% + 20px)";
    transform: translate(-10px, -10px);
    margin-bottom: -10px;
    border-radius: 12px 12px 0 0;
}

.student{
    background: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(7px);
    border: none;
    border-radius: 12px;
    height: 300px;
    width: 32.5%;
    vertical-align: text-top;
    z-index: 0;
    padding: 0;
    box-shadow: #bbb 3px 3px 15px 0;
}

.student img{
    vertical-align: text-top;
    display: inline-block;
    object-fit: cover;
    height: 300px;
    width: 50%;
    margin-right: 7%;
    transition: 0.35s;
    border-radius: 12px 0 0 12px;
}

.student img:hover{
    width: 62%;
    margin: 0;
}

.studentShortInfo{
    position: relative;
    vertical-align: text-top;
    display: inline-block;
    width: 36%;
    height: 300px;
}

.student h3, p{
    display: block;
    text-align: center;
}

.student h3{
    font-size: 20px;
}

.student p{
    font-size: 16px;
}

.student a{
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 8px;
    background: #d1a000;
    color: #eee;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.student a:hover{
    background: #a37d00;
}

// Single Student
.studentLongInfo{
    width: 100%;
    background: #eeea;
    backdrop-filter: blur(7px);
    text-align: left;
    min-height: 450px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: #bbb 3px 3px 15px 0;
}
.studentLongInfo p,h1,h2,h3,h4,h5,h6,a,i,b,strong,span{
    text-align: left;
}
.studentInfo{
    position: relative;
    float: left;
    height: 450px;
    width: 40%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 15px;
    border-radius: 12px 0 0 12px;
    transform: translate(-10px, -10px);
}
.studentInfo img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 15px;
    border-radius: 12px 0 0 12px;
}
.studentNameAndQuote{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(230, 230, 230, 0.6);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 12px;
}
.studentNameAndQuote h3{
    margin: 5px 0 10px;
}

@media screen and (max-width:800px) {
    .classroomInfo{
        float: unset;
        width: ~"calc(100% - 5px)";
        height: unset;
        font-size: 5vw;
        text-align: left;
    }
    .classroomInfo img {
        height: 60vw;
    }
    .student{
        height: 40vw;
        width: 32%;
    }
    .student img{
        height: 40vw;
        width: 100%;
        border-radius: 8px;
    }
    .student:hover img {
        width: 62%;
        margin: 0;
    }
    .studentShortInfo {
        position: absolute;
        right: 0;
        top: 0;
        width: 34%;
        height: inherit;
        z-index: -1;
    }
    .studentShortInfo h3{
        font-size: 13px;
        transform: rotate(90deg);
    }
    .studentShortInfo p{
        display: none;
    }
    .studentShortInfo a{
        bottom: 4px;
        right: 0;
        padding: 3px;
        font-size: 10px;
        border-radius: 3px;
    }

    .studentInfo{
        width: ~"calc(100% + 20px)";
    }
    .studentInfo img{
        border-radius: 0;
    }
    .studentNameAndQuote{
        border-radius: 0;
    }
    .studentNameAndQuote h3 {
        font-size: 5.5vw;
    }
    .studentNameAndQuote i {
        font-size: 3.7vw;
    }
}